SECRET_KEY=cambia-esto-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Ruta al modelo relativa al BASE_DIR
MODEL_PATH=model/model.keras

# Clases separadas por coma — deben coincidir con el orden del output del modelo
MODEL_CLASSES=plastico,metal,vidrio,carton,organico

# Google Drive
GOOGLE_DRIVE_CREDENTIALS_FILE=credentials/service_account.json

# Backend de Keras — opciones: torch | jax | tensorflow
# torch es el más fácil de instalar en Python 3.14
KERAS_BACKEND=