django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3
python-dotenv>=1.0
keras>=3.0
torch>=2.2   # backend para Keras 3
Pillow>=10.0
google-api-python-client>=2.100
google-auth-httplib2>=0.1
google-auth-oauthlib>=1.1
numpy>=1.24
gunicorn>=21.2
